
/*********************************************Font*********************************************/
@font-face {
	font-family: helvetiNeue;
	src: url("font/HelveticaNeue.woff");
}
/*********************************************General*********************************************/
.wrapper
{
	margin-left: 6.67%;
	margin-right: 4.4%;
}

body
{
	font-family: "helvetiNeue";
	position: relative;
}
body::after {
	content: '';
	display: block;
	height: 524px;
}
/*********************************************Header*********************************************/
/*-----------------Top Header-------------*/
#topHeader
{
	background: #3478e3;
	color: #ffffff;
	width: 100%;
}

#topHeader .headerItem
{
	display: inline-block;
	height: auto;
	font-size: 13.5px;
	padding: 17px 32px 18px 0;

}
#topHeader #headerItem1
{
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#topHeader #headerItem1 i
{
	font-size: 15px;
	padding-right: 11px;
}
#topHeader #headerItem2 i
{
	font-size: 15px;
	padding-left:26px;
	padding-right: 11px;
}
#topHeader #headerItem3
{
	float:right;
}
/*-----------------Bottom Header-------------*/
#logo
{
	width: 55.5%;
	padding-top: 34px;
	padding-bottom: 28px;
	float: left;
}
#botHeader
{
	float:left;
}
#botHeader li
{
	display: inline-block;
}
.botHeaderItem
{
	width: auto;
	padding-top: 22px;
	margin-left: 80px;
}
.botHeaderIcon
{
	float:left;
	width:40px;
	height: 40px;
	padding: 12px;
	border-radius: 40px;
	border: 1px solid #3478e3;
	margin-right: 25px;
}
.botHeaderContent
{
	float:left;
}
.botHeaderItem a
{
	font-weight: bold;
	font-size: 14px;
}
.botHeaderItem p
{
	margin-top: 10px;
	font-size: 13px;
}
/*-----------------Navigation Bar-------------*/
#navBar
{
	font-size: 15px;
	border-top: 0.5px solid rgba(63, 63, 63, 0.2);
	border-bottom: 0.5px solid rgba(63, 63, 63, 0.2);

}

#leftNavBar a li
{
	display: inline-block;
	padding: 10px 56px 13px 0;
	text-shadow: 1px 0 rgba(63, 63, 63, 0.2);
	color:rgba(63, 63, 63, 0.8);
}
/*******This is weird**********/
#navBar ul a:nth-child(8) li
{
	padding-right: 0px;
	color:black;
}
#leftNavBar li:after
{
	content: ' ';
	position: absolute;
	width: 6px;
	height: 6px;
	border-top: 1px solid rgba(63, 63, 63, 0.8);
	border-right: 1px solid rgba(63, 63, 63, 0.8);
	box-shadow: 1px 0 rgba(63, 63, 63, 0.2);
	margin-top: 4px;
	margin-left: 13px;
	transform: rotate(135deg);
}
#rightNavBar
{
	
	margin-left:273px;
	width: auto;
	font-size: 14px;
}
#rightNavBar:after
{
	display:none;
}
#search, #shopping i
{
	display: inline-block;
}
#shopping
{
	display: inline-block;
	margin-left: 23px;
}
#nItem
{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	background: #3478e3;
	color:white;
	text-align: center;
	padding-top: 4.5px;
	margin-left: 10px;
}
/*********************************************Body*********************************************/
/*-----------------Grid View Title-------------*/
#gridViewTitle
{
	background: #eeeeee;
	height:100px;
	color:rgba(63, 63, 63, 1);
	text-shadow: 1px 0 rgba(63, 63, 63, 0.2);
}
#gridViewTitle ul
{
	display: inline-block;
	margin-left: 815px;

}
#gridViewTitle h3
{
	padding-top: 42px;
	display: inline-block;	
	font-size: 15px;
}
#gridViewTitle ul li
{
	display: inline-block;
	font-size: 14px;
	color:rgba(63, 63, 63, 0.6);
	margin-right: 8px;

}
#gridViewTitle ul li:last-child:after
{
	display: none;
}
#gridViewTitle ul li:after
{
	content:' ';
	position:absolute;
	width: 6px;
	height: 6px;
	border-top: 1px solid rgba(63, 63, 63, 0.6);
	border-right: 1px solid rgba(63, 63, 63, 0.6);
	transform: rotate(45deg);
	margin-top: 5px;
	margin-left: 2px;
}
/*-----------------Grid View Content-------------*/
#gridViewContent
{
	padding-top: 56px;
}
.row
{
	margin-bottom: 30px;
}
.gridViewPost
{
	width: 100%;
	height: auto;
}
.gridViewPost img
{
	width: 100%;
	height: 220px;

}

.firstCol
{
	margin-left: -15px;

}


.gridViewPost .gridViewPostContent
{
	border-left: 0.5px solid rgba(63, 63, 63, 0.2);
	border-right: 0.5px solid rgba(63, 63, 63, 0.2);
	border-bottom: 0.5px solid rgba(63, 63, 63, 0.2);
	margin-top: -2px; /*problem here*/
	background: rgb(249, 249, 249);

}
.gridViewPost .gridViewPostContent h2
{
	font-family: "Segoe UI", sans-serif;
	padding: 27px 30px 0 30px;
	font-size: 20px;
	line-height: 28px;
	color:rgb(63, 65, 68);
	text-shadow: 1px 0 rgba(63, 63, 63, 0.2);
}

.gridViewPost .gridViewPostContent ul
{
	padding: 15px 30px 0 30px;
	font-size: 12px;
	color:rgb(163, 163, 163);
}
.gridViewPost .gridViewPostContent ul li
{
	display: inline-block;
	margin-right: 18px;
}
.gridViewPost .gridViewPostContent ul li:after
{
	display: inline-block;
	content:'/';
	position:absolute;
	margin:0 9px;
}
.gridViewPost .gridViewPostContent ul li:last-child:after
{
	display: none;
}

.gridViewPost .gridViewPostContent p
{
	line-height: 24.5px;
	padding: 13px 30px 0 30px;
	font-size: 14px;
	color: rgb(127, 126, 126);
	text-shadow: 1px 0 rgba(127, 126, 126, 0.2);
}
/*Is it a not considered a real element?****/
.gridViewPost .gridViewPostContent a p, #blockQuote a p
{
	display: inline-block;
	padding: 30px;
	padding-left: 1px;
	color: rgb(52,120,227);
	text-shadow: 1px 0 rgba(52,120,227, 0.3);
	font-size: 14px;
}
.readMore
{
	display: inline-block;
	margin-left: 30px;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: rgb(52,120,227);


}
.readMore div
{
	content: ' ';
	width: 6px;
	height: 6px;
	position: relative;
	left:2px;
	top:3px;
	border-top: 2px solid rgba(255, 255, 255, 1);
	border-right: 2px solid rgba(255, 255, 255, 1);
	transform: rotate(45deg);
}
/*-------Block Quote---------*/
#blockQuote div
{
	background: rgb(35,40,45);
}
#quoteContent
{
	color: white;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	padding:0 60px;
	line-height: 27px;
}
#outerQuote
{
	padding-bottom: 109px;
}
#blockQuote .readMore
{
	margin-left:140px;
	background: rgb(52,120,227);

}
#blockQuote .readMore div
{
	background: rgb(52,120,227);
	border-color: rgb(35,40,45);
}
.fa-quote-left
{
	color:rgb(52,120,227);
	position: relative;
	left:47%;
	font-size: 22px;
	margin: 42px 0;
}
#quoteCredit
{
	font-size: 14px;
	text-align: center;
	color: rgb(163, 163, 163);
	margin-top:35px;
}
#loadMore
{
	display: block;
	margin: auto;
	height: 45px;
	margin-bottom: 30px;
	background: rgb(52,120,227);
	border-color: rgb(52,120,227);
	font-size: 14px;
	padding: 15.5px auto;
	text-align: center;
	text-shadow: 1px 0 rgba(255, 255, 255, 0.3);
}
/*********************************************Footer*********************************************/
/*-----------------Left Column-------------*/
#footer
{
	background: rgb(35,40,45);
	font-family: "Segoe UI", sans-serif;
	position: absolute;
	bottom: 0
}

#leftCol
{
	padding: 82px 30px 0 0;
}


#leftCol img
{
	margin-bottom: 38px;
}

#leftCol p
{
	font-size: 14px;
	color: rgb(158, 158, 158);
	line-height: 24.5px;
	margin-bottom: 32px;
}
#contact i 
{
	display: inline-block;
	color: white;
	width: 37px;
	height: 37px;
	border-radius: 0.3rem;
	background: rgb(53, 61, 68);
	text-align:center;
	font-size: 16px;
	padding-top: 9.5px;
	margin-right: 10px;
}

#midCol div
{
	margin-left: -15px;
}

#midCol h2
{
	padding-top: 88px;
	margin-left: -15px;
	font-size: 15px;
	font-weight: bold;
	color:white;
	margin-bottom: 43px;
}
#midCol li
{
	font-size: 14px;
	color: rgb(158, 158, 158);
	line-height: 24.5px;
}

#rightCol div
{
	margin-left: -15px;
	color:white;
}
#rightCol p
{
	font-size: 14px;
	margin-bottom: 32px;
}

#rightCol h2
{
	padding-top: 88px;
	font-size: 15px;
	font-weight: bold;
	color:white;
	margin-bottom: 43px;
}

#emailForm
{
	width: 96%;
	height: 50px;
	background: rgb(53, 61, 68);
	border-width: 0;
	border-radius: 0.1rem;
	padding: 20px 15px 20px 15px;
	font-size: 14px;
	color: white;
}
#emailForm:focus
{
	outline: none;
}

#emailForm::placeholder
{
	color:white;
}


#submitButton
{
	position: absolute;
	top:206px;
	right:40px;
	background: transparent;
	border:none;
	color:rgb(52,120,227);

}

#copyright p
{
	color: white;
	text-shadow: 0.5px 0 white; 
	font-size: 14px;
	margin-top: 42px;
	margin-bottom: 38px;
	margin-left: -15px;
	padding-top: 46px;
	border-top: 1px solid rgb(53, 61, 68);
}
#payment div
{
	margin-right: 15px;
}

#payment ul
{
	border-top: 1px solid rgb(53, 61, 68);
	margin-top:42px;
	padding-right: 0px;
	width: 100%;
	display: block;
}


#payment ul li
{
	display: inline-block;
	margin-top:42px;
	font-size: 14px;
	color: rgb(158, 158, 158);
}

#payment ul a:first-child li
{
	margin-left:162.5px;
}