
/*********************************************Font*********************************************/
@font-face {
	font-family: helvetiNeue;
	src: url("font/HelveticaNeue.woff");
}


/*********************************************General*********************************************/
.wrapper
{
	margin-left: 6.67%;
	margin-right: 5.67%;
}

body
{
	font-family: "helvetiNeue";

}

/*********************************************Header*********************************************/
/*-----------------Top Header-------------*/
#topHeader
{
	background: #3478e3;
	color: #ffffff;
	width: 100%;
}

#topHeader .headerItem
{
	display: inline-block;
	height: auto;
	font-size: 13.5px;
	padding: 17px 32px 18px 0;

}
#topHeader #headerItem1
{
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#topHeader #headerItem1 i
{
	font-size: 15px;
	padding-right: 11px;
}
#topHeader #headerItem2 i
{
	font-size: 15px;
	padding-left:26px;
	padding-right: 11px;
}
#topHeader #headerItem3
{
	float:right;
}
/*-----------------Bottom Header-------------*/
#logo
{
	width: 55.5%;
	padding-top: 22px;
	float: left;
}
#botHeader
{
	float:left;
}
#botHeader li
{
	display: inline-block;
}
.botHeaderItem
{
	width: auto;
	padding-top: 22px;
	margin-left: 80px;
}
.botHeaderIcon
{
	float:left;
	width:40px;
	height: 40px;
	padding:10px;
	border-radius: 40px;
	border: 1px solid #3478e3;
	margin-right: 25px;
}
.botHeaderContent
{
	float:left;
}
.botHeaderItem h3
{
	font-weight: bold;
	font-size: 14px;
}
.botHeaderItem p
{
	margin-top: 10px;
	font-size: 13px;
}
/*-----------------Navigation Bar-------------*/